html {
    height: 100%;
}

body {
    height: 100%;
}

.page {
    min-width: 755px;
    height: 90%;
    padding: 0 2% 2% 2%;
}

.html-block,
.css-block {
    width: 48%;
    height: 96%;
}

.html-block {
    float: left;
    margin-right: 2%;
}

.css-block {
    float: right;
    margin-left: 2%;
}

.html-area,
.css-area {
    width: 100%;
    height: 100%;
    font: 12px Courier, monospace;
}
